@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0b10;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

/* Custom Hide Scrollbar Utility */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}
